<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetty.Buffers" version="0.4.0" targetFramework="net452" />
  <package id="DotNetty.Codecs" version="0.4.0" targetFramework="net452" />
  <package id="DotNetty.Common" version="0.4.0" targetFramework="net452" />
  <package id="DotNetty.Transport" version="0.4.0" targetFramework="net452" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Extensions.Logging" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="1.0.0" targetFramework="net452" />
</packages>